/* mobile version, different layout and remove some content */

:root {
    --bs-primary: #516479;
    --bs-link-color: #F2F2F2;
    --bs-link-hover-color: #FFFFFF;
    --bs-secondary-bg-subtle: #D9D9D9;
    --bs-primary-rgb: 81, 100, 121;
    --bs-btn-bg: #3270B5;
    --bs-btn-bg: #0d6efd;
}

.btn-primary {
    --bs-btn-color: #f2f2f2;
    --bs-btn-bg: #3270B5;
    --bs-btn-border-color: #103060;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #103060;
    --bs-btn-hover-border-color: #103060;
}


.nav-underline {
    --bs-nav-underline-gap: 2rem;
    --bs-nav-underline-border-width: 0.1rem;
    --bs-nav-underline-link-active-color: var(--bs-emphasis-color);
    gap: var(--bs-nav-underline-gap);
}

.btn {
    --bs-btn-font-size: 0.8rem;
    --bs-btn-padding-y: 0.1rem;
}

li,
a,
link {
    font-family: "Champagne & Limousines";
    font-weight: 400;
    text-decoration: none;
    list-style: none;
    color: #F2F2F2;
}

/* header start */

.maincontainer {
    max-width: 430px;
    margin: 0 auto;
    /* padding-top: 1rem;
    padding-bottom: 1rem; */
}

.upperheader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.brand img {
    width: 40%;
    margin: 0.5rem;
}

.sicon img {
    width: 1rem;
    gap: 0.3rem;
    height: auto;
}

.mainnav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 0.5rem;
}

.mainnav1 {
    display: none;
}

/* header over */
/* I hate hamberger menu, I understand it look better. But put it on the upper right corner
 especially mobile version is simply anti-human! Anyway,I don't know anyone with such long thumbs!  */
/* banner start */

.containerhome {
    background-image: url(../images/banner/banner2.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

.desktop {
    display: none;
}

.bio {
    font-size: medium;
    color: #F2F2F2;
    font-family: "Century Gothic";
    font-size: 0.7rem;
    background-color: rgba(81, 100, 121, 0.8);
    margin-top: 17.5rem;
    padding-bottom: 1rem;
}

.bio .p1 {
    padding: 1rem;
    margin-bottom: -0.5rem;
}

.bio ul,
.bio .p2 {
    display: none;
}

.bio .email,
.bio .phone {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 0.8rem;
    padding-right: 0.8rem;
    transform: translateY(0.5rem);
}

.bio .email button,
.bio .phone button {
    width: 4rem;
    height: 1.5rem;
    border-radius: 0.8rem;
    border: 0px;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
    transform: translateY(-0.1rem);
    font-size: 0.8rem;
}

.bio .email img,
.bio .phone img {
    display: none;
    width: auto;
    height: 45%;
}

/* .bio .email p {
    transform: translateX(1rem);
}

.bio .phone p {
    transform: translateX(1rem);
} */

.start button {
    background-color: black;
    color: #F2F2F2;
    width: 7rem;
    height: 1.8rem;
    border-radius: 1rem;
    border: none;
    margin: auto;
    display: block;

}

/* banner over */
/* I think put "Get Start" in the mid-bottom is good idea, because it fair to right or left hand user */
/* So I'll move all the quickjump from right-bottom to mid-bottom */
/* section gallery start */

.titlegallery img,
.titlebackground img,
.titleaboutme img,
.titlecontacme img {
    padding: 0.5rem;
    width: 15rem;
}

.containergallery,
.containerbackground {
    background-color: #D9D9D9;
}

.containergallery .Preproject {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 0.6rem;
}

.containergallery .Preproject img {
    height: 1rem;
    width: auto;
    margin-top: 0.1rem;
}

.containergallery .Preproject p {
    font-family: "Century Gothic";
    color: #516479;
    margin-left: 0.5rem;
    font-size: small;
}

/* Cards layout */

.project1,
.project2 {
    background-color: #F2F2F2;
    display: flex;
    flex-direction: row;
}

.project1 .projectphoto1 img,
.project2 .projectphoto2 img {
    width: 75%;
    margin: 0.5rem;
}

.projectdescripion1,
.projectdescripion2 {
    transform: translateX(-1rem);
    width: 12.5rem;
    margin: -0.5rem;
    margin-top: 1rem;
}

.project1 .projectdescripion1 p:nth-child(1),
.project2 .projectdescripion2 p:nth-child(1) {
    font-family: "Book Antiqua";
    color: rgb(32, 32, 32);
    font-size: 0.8rem;
    font-weight: 600;
    margin-top: 1rem;
    padding-left: -2rem;
}

.project1 .projectdescripion1 p:nth-child(2),
.project2 .projectdescripion2 p:nth-child(2) {
    font-family: "Book Antiqua";
    color: rgb(32, 32, 32);
    font-size: 0.7rem;
    font-weight: 200;
    margin-top: -1rem;
    padding-left: -2rem;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid #D9D9D9;
}

.project1 .projectdescripion1 p:nth-child(3),
.project2 .projectdescripion2 p:nth-child(3) {
    font-family: "Book Antiqua";
    color: rgb(32, 32, 32);
    font-size: 0.7rem;
    font-weight: 200;
    padding-left: -2rem;
    margin-top: -0.5rem;
}

.project1 .projecticon1 img,
.project2 .projecticon2 img {
    width: 1.6rem;
    transform: translateX(-1.6rem);
}

.project1 .projecticon1 button,
.project2 .projecticon2 button {
    font-size: 0.8rem;
    font-family: "Champagne & Limousines";
    border: none;
    border-radius: 0.5rem;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
    width: 5rem;
    transform: translateX(2.1rem);
}

.project2 {
    margin-top: 1rem;
}

/* PP over */
/* CS start */

.containergallery .precase {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 0.6rem;
}

.containergallery .precase img {
    height: 1rem;
    width: auto;
    margin-top: 0.1rem;
}

.containergallery .precase p {
    font-family: "Century Gothic";
    color: #516479;
    margin-left: 0.5rem;
    font-size: small;
}

.case1,
.case2 {
    background-color: #F2F2F2;
    display: flex;
    flex-direction: row;
    margin-top: -1rem;
}

.case1 .casephoto1 img,
.case2 .casephoto2 img {
    width: 75%;
    margin: 0.5rem;
}

.casedescription1,
.casedescription2 {
    transform: translateX(-1rem);
    width: 12.5rem;
    margin: -0.5rem;
    margin-top: 1rem;
}

.casedescription1 p:nth-child(1),
.casedescription2 p:nth-child(1) {
    font-family: "Book Antiqua";
    color: rgb(32, 32, 32);
    font-size: 0.8rem;
    font-weight: 600;
    margin-top: 1rem;
    padding-left: -2rem;
}

.casedescription1 p:nth-child(2),
.casedescription2 p:nth-child(2) {
    font-family: "Book Antiqua";
    color: rgb(32, 32, 32);
    font-size: 0.7rem;
    font-weight: 200;
    margin-top: 1rem;
    padding-left: -2rem;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid #D9D9D9;
}

.case1 .caseicons1 img,
.case2 .caseicons2 img {
    width: 1.6rem;
    transform: translate(-1.6rem, 1.5rem);
}

.case1 .caseicons1 button,
.case2 .caseicons2 button {
    font-size: 0.8rem;
    font-family: "Champagne & Limousines";
    border: none;
    border-radius: 0.5rem;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
    width: 5rem;
    transform: translate(2.1rem, 1.5rem);
}

.case2 {
    margin-top: 1rem;
}

/* case over */
/* research start */

.containergallery .prestudy {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 0.6rem;
}

.containergallery .prestudy img {
    height: 1rem;
    width: auto;
    margin-top: 0.1rem;
}

.containergallery .prestudy p {
    font-family: "Century Gothic";
    color: #516479;
    margin-left: 0.5rem;
    font-size: medium;
}

.research .articles {
    margin-top: -1rem;
    background-color: #F2F2F2;
    padding: 0.8rem;
}

.research .articles p {
    font-size: small;
    color: rgb(32, 32, 32);
    font-family: "Book Antiqua";
    font-size: 0.8rem;
}

.articles .content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.articles .content button {
    font-size: 0.7rem;
    border: none;
    border-radius: 1rem;
    height: 1.2rem;
    width: 3rem;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
    transform: translateY(0.1rem);
}

.quickjump {
    padding: 1rem;
    text-align: center;
}

.quickjump button {
    background-color: black;
    color: #F2F2F2;
    width: 5rem;
    height: 1.5rem;
    border-radius: 1rem;
    border: none;
    font-size: 0.6rem;
}

/* gallery over */
/* background start */

.containerbackground .preeducate {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 0.6rem;
}

.containerbackground .preeducate img {
    height: 1rem;
    width: auto;
    margin-top: 0.1rem;
}

.containerbackground .preeducate p {
    font-family: "Century Gothic";
    color: #516479;
    margin-left: 0.5rem;
    font-size: medium;
}

.timeaxe,
.timeaxe2 {
    display: none;
}

.cards .card1,
.cards .card2,
.cards .card3 {
    display: flex;
    flex-direction: column;
    background-color: #F2F2F2;
    margin-bottom: 1rem;
    margin-top: -1rem;
}

.time1,
.time2,
.time3 {
    margin-top: 0.5rem;
}

/* Education subtitles */

.card1 .time1 p:nth-child(1),
.card2 .time2 p:nth-child(1),
.card3 .time3 p:nth-child(1) {
    margin-left: 0.8rem;
    font-family: "Champagne & Limousines";
    font-weight: 600;
    font-size: small;
}

.card1 .time1 p:nth-child(2),
.card2 .time2 p:nth-child(2),
.card3 .time3 p:nth-child(2) {
    margin-left: 0.8rem;
    font-family: "Book Antiqua";
    font-weight: 200;
    font-size: small;
    margin-top: -1rem;
}

/* card descriptions */

.college1 {
    display: grid;
    grid-template-columns: 1fr 3fr;
    margin-top: -0.5rem;
}

/* leftpart of cards */

.emblem1 {
    background-color: white;
    padding: 1rem;
}

.emblem2 {
    background-color: white;
    padding: 1rem;
}

.emblem3 {
    background-color: white;
    padding-left: 0.5rem;
    padding-right: 0.7rem;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;

}

/* right parts of cards */

.collegedescription1 {
    background-image: url(../images/other/HIEUcampus.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: absolute;
}

.university1 {
    position: relative;
    background-color: rgba(255, 255, 255, 0.7);
    padding-top: 2.15rem;
    padding-bottom: 2.15rem;
    margin-top: -1rem;
    transform: translateY(1.01rem)
}

.university1 p {
    font-family: "Book Antiqua";
    font-size: small;
    color: #000;
    text-align: center;
    margin: 0;
}

.college2 {
    display: grid;
    grid-template-columns: 1fr 3fr;
    margin-top: -0.5rem;
}

.collegedescription2 {
    background-image: url(../images/other/BJUcampus.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: absolute;
}

.university2 {
    position: relative;
    background-color: rgba(255, 255, 255, 0.7);
    padding-top: 2.15rem;
    padding-bottom: 2.1rem;
    transform: translateY(0.01rem);
}

.university2 p {
    font-family: "Book Antiqua";
    font-size: small;
    color: #000;
    text-align: center;
    margin: 0;
}

.college3 {
    display: grid;
    grid-template-columns: 1fr 3fr;
    margin-top: -0.5rem;
}

.collegedescription3 {
    background-image: url(../images/other/ACcampus.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: absolute;
}

.university3 {
    position: relative;
    background-color: rgba(255, 255, 255, 0.7);
    padding-top: 2.15rem;
    padding-bottom: 2.1rem;
}

.university3 p {
    font-family: "Book Antiqua";
    font-size: small;
    margin: 0.4rem;
    color: #000;
    text-align: center;
    margin: 0;
}

.campus1 img,
.campus2 img,
.campus3 img {
    display: none;
}

/* Education cards finish!!! 5:47 AM I DID IT!!!!! */

.containerbackground .prework {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 0.6rem;
    margin-top: -1rem;
}

.containerbackground .prework img {
    height: 1rem;
    width: auto;
    margin-top: 0.1rem;
}

.containerbackground .prework p {
    font-family: "Century Gothic";
    color: #516479;
    margin-left: 0.5rem;
    font-size: small;
}

.workcards .workcard1,
.workcards .workcard2 {
    display: flex;
    flex-direction: column;
    background-color: #F2F2F2;
    margin-top: -1rem;
}

.worktime1 {
    margin-top: 0.5rem;
    margin-bottom: -0.5rem;
}

.worktime2 {
    margin-top: 1.5rem;
    margin-bottom: -0.5rem;
}

/* Education subtitles */

.workcard1 .worktime1 p:nth-child(1),
.workcard2 .worktime2 p:nth-child(1) {
    margin-left: 0.8rem;
    font-family: "Champagne & Limousines";
    font-weight: 600;
    font-size: small;
}

.workcard1 .worktime1 p:nth-child(2),
.workcard2 .worktime2 p:nth-child(2) {
    margin-left: 0.8rem;
    font-family: "Book Antiqua";
    font-weight: 200;
    font-size: small;
    margin-top: -1rem;
}

.workcard1 .worktime1 p:nth-child(3),
.workcard2 .worktime2 p:nth-child(3) {
    margin-left: 0.8rem;
    font-family: "Book Antiqua";
    font-weight: 200;
    font-size: small;
    margin-top: -1rem;
    display: none;
}

.company1,
.company2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: white;
}

.kongzhong img {
    width: 70%;
    height: auto;
    margin: 1rem;
}

.cetc img {
    width: 70%;
    height: auto;
    margin: 1rem;
    padding-top: 1rem;
}

.industry1 p {
    font-family: "Book Antiqua";
    font-size: small;
    color: #000;
    text-align: center;
    margin: 1rem;
}

.industry2 {
    font-family: "Book Antiqua";
    font-size: small;
    color: #000;
    text-align: center;
    padding-top: 1rem;
    margin: 0;
}

/* background finished */
/* Aboout me start */

.containeraboutme {
    background-color: #D9D9D9;
}

.containeraboutme .preeducate {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 0.6rem;
}

.containerbackground .preeducate img {
    height: 1rem;
    width: auto;
    margin-top: 0.1rem;
}

.containerbackground .preeducate p {
    font-family: "Century Gothic";
    color: #516479;
    margin-left: 0.5rem;
    font-size: small;
}

.containeraboutme .mypersonality {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 0.6rem;
}

.containeraboutme .mypersonality img {
    height: 1rem;
    width: auto;
    margin-top: 0.1rem;
}

.containeraboutme .mypersonality p {
    font-family: "Century Gothic";
    color: #516479;
    margin-left: 0.5rem;
    font-size: small;
}

.chart1,
.chart3 {
    margin-bottom: 2rem;
    background-color: #fff;
    margin-top: -1rem;
    padding-left: -1rem;
    padding-right: -1rem;
}

.chart1 img,
.chart3 img {
    width: 70%;
    height: auto;
}

.chart2 {
    display: none;
}

.chart4 {
    background-color: #fff;
    margin-top: -1rem;
}

.chart4 img {
    width: 90%;
    height: auto;
}

.containeraboutme .skillsetting {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 0.6rem;
    margin-top: -2rem;
}

.containeraboutme .skillsetting img {
    height: 1rem;
    width: auto;
    margin-top: 0.1rem;
}

.containeraboutme .skillsetting p {
    font-family: "Century Gothic";
    color: #516479;
    margin-left: 0.5rem;
    font-size: small;
}

.name label,
.email label,
.message label {
    font-family: "Century Gothic";
    font-size: small;
    color: #516479;
}

.name img,
.email img,
.message img {
    width: 1rem;
    height: 1rem;
}

.contactform button {
    font-size: 0.8rem;
    border: none;
    border-radius: 1rem;
    height: 1.8rem;
    width: 6rem;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
    transform: translate(18rem, 0.5rem);
    font-family: "Century Gothic";
}

.keywords img {
    width: 70%;
    height: auto;
}

.backtotop {
    padding-top: -1rem;
}


.backtotop button {
    background-color: black;
    color: #F2F2F2;
    width: 7rem;
    height: 1.8rem;
    border-radius: 1rem;
    border: none;
}

@media screen and (min-width:431px) and (max-width:720px) {

    .maincontainer {
        max-width: 720px;
    }

    .bio {
        font-size: medium;
    }

    .project1,
    .project2 {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .project1 .projectphoto1 img,
    .project2 .projectphoto2 img {
        width: 10rem;
        margin: 0.5rem;
    }

    .case1,
    .case2 {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .case1 .casephoto1 img,
    .case2 .casephoto2 img {
        width: 10rem;
        margin: 0.5rem;
    }

    /* Education timeline */

    .containerbackground {
        padding-top: -1rem;
    }

    .preeducate {
        margin-bottom: -2.5rem;
    }

    .timeaxe {
        display: block;
        margin: 0.5rem;
        transform: translateY(5rem);
    }

    .timeaxe img {
        width: 100%;
    }

    .cards {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        text-align: center;
    }

    .time1,
    .time2,
    .time3 {
        transform: translateY(-1.5rem);
    }

    .card1,
    .card2,
    .card3 {
        padding: 0.5rem;
        padding-top: 2rem;
        /* transform: translateY(1rem); */
    }

    .college1,
    .college2,
    .college3 {
        transform: translateY(1rem);
    }


    .emblem1,
    .emblem2 {
        padding: 0.5rem;
    }

    .emblem3 {
        padding: 0.5rem;
    }

    .emblem1 img,
    .emblem2 img,
    .emblem3 img {
        width: 3rem;
    }


    .collegedescription1 {
        background-image: none;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: absolute;
    }

    .campus1 img,
    .campus2 img,
    .campus3 img {
        display: inline-block;
        width: 100%;
    }

    .university1 {
        position: relative;
        background-color: rgba(255, 255, 255, 1);
        padding-top: 0.15rem;
        padding-bottom: 0.15rem;
        margin-top: -1rem;
    }

    .collegedescription2 {
        background-image: none;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: absolute;
    }

    .university2 {
        position: relative;
        background-color: rgba(255, 255, 255, 1);
        padding-top: 0.1rem;
        padding-bottom: 0.1rem;
        transform: translateY(0.01rem);
    }

    .collegedescription3 {
        background-image: none;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: absolute;
    }

    .university3 {
        position: relative;
        background-color: rgba(255, 255, 255, 1);
        padding-top: 0.8rem;
        padding-bottom: 0.8rem;
    }

    /* Work experience */

    .prework {
        margin-bottom: -4rem;
    }

    .workcards .workcard1,
    .workcards .workcard2 {
        display: flex;
        flex-direction: column;
        background-color: #F2F2F2;
        margin-top: 1rem;
        padding-top: 2rem;
    }

    .workcard1 .worktime1 p:nth-child(3),
    .workcard2 .worktime2 p:nth-child(3) {
        margin-left: 0.8rem;
        font-family: "Book Antiqua";
        font-weight: 200;
        font-size: small;
        margin-top: -1rem;
        display: block;
    }

    .workcard1 .industry1 p:nth-child(2),
    .workcard2 .industry2 p:nth-child(2) {
        display: none;
    }

    .timeaxe2 {
        display: block;
        transform: translateY(7rem);
    }

    .timeaxe2 img {
        width: 100%;
        padding: 0.5rem;
    }

    .workcards {
        display: grid;
        grid-template-columns: 1fr 1fr;
        text-align: center;
        gap: -2rem;
    }

    .company1 .kongzhong {
        margin: -1.5rem;
        padding: -2rem;
        transform: translateY(1rem);
    }

    .company1 .kongzhong img {
        margin: -1rem;
        padding: 0.1rem;
        width: 7rem;
    }

    .company2 .cetc {
        margin: -1.5rem;
        padding: -2rem;
        transform: translateY(1rem);
    }

    .company2 .cetc img {
        width: 6rem;
        margin: -1rem;
        padding: 0.1rem;
    }

    .worktime1,
    .worktime2 {
        margin-top: 0.5rem;
        margin-bottom: -0.5rem;
        transform: translateY(-2rem);
    }

    .company1,
    .company2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 11rem;
        height: 5rem;
        margin: 0 auto;
        transform: translateY(-0.5rem);
    }

    .company1 p,
    .company2 p {
        transform: translateY(2rem);
    }

    /* personality */

    .containercharts .row {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .containerskill .row {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .tool div img {
        width: 15%;
    }
}

@media screen and (min-width:721px) and (max-width:1024px) {

    .nav-underline {
        --bs-nav-underline-gap: 2rem;
        --bs-nav-underline-border-width: 0.1rem;
        --bs-nav-underline-link-active-color: var(--bs-emphasis-color);
        gap: var(--bs-nav-underline-gap);
    }

    .maincontainer,
    .containergallery {
        max-width: 1024px;
        margin: 0 auto;
    }

    .brand img {
        width: 10rem;
        height: auto;
    }

    .mainnav {
        display: none;
    }

    .containerhome {
        background-image: none;
        background-repeat: no-repeat;
        background-size: contain;
        background-size: 100%;
        margin-top: -10rem;
    }

    .upperheader {
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
    }

    .mainnav1 {
        display: block;
        font-size: 1rem;
        transform: translateY(0.1rem);
    }

    .mainnav1 li {
        padding-left: -1rem;
        padding-right: -1rem;
    }

    .sicon img {
        width: 1rem;
        height: auto;
    }

    .mobile {
        display: none;
    }

    .desktop {
        position: relative;
        display: block;
        width: 1024px;
    }

    .bio {
        position: absolute;
        width: 17rem;
        top: -25%;
        left: 60%;
        font-size: small;
        color: #F2F2F2;
        font-family: "Century Gothic";
        font-size: 0.7rem;
        background-color: rgba(81, 100, 121, 0.9);
        z-index: 1;
        padding: 1rem;
        margin-right: 1rem;
        border-radius: 1rem;
    }

    .bio ul,
    .bio .p2 {
        display: inline-block;
    }

    .bio .p2 {
        margin-left: 0.5rem;
    }

    .email,
    .phone {
        padding-bottom: -1rem;
        transform: translateY(-4rem);
    }

    .gallery {
        margin-top: 10rem;
    }

    .biocontent {
        margin-top: -1rem;
    }

    .Preproject {
        margin-bottom: -2rem;
    }

    .projectcards {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: baseline;
    }

    .project1,
    .project2 {
        width: 100%;
    }

    .project1 .projectphoto1 img,
    .project2 .projectphoto2 img {
        width: 10rem;
        margin: 0.5rem;
        margin-left: 5%;
    }

    .projectdescripion1,
    .projectdescripion2 {
        transform: translateX(1.5rem);
        width: 12.5rem;
        margin: -0.5rem;
        margin-top: 1rem;
    }

    .project1 .projectdescripion1 p:nth-child(1),
    .project2 .projectdescripion2 p:nth-child(1) {
        font-family: "Book Antiqua";
        color: rgb(32, 32, 32);
        font-size: 0.8rem;
        font-weight: 600;
        margin-top: 1rem;
        padding-left: -2rem;
    }

    .project1 .projectdescripion1 p:nth-child(2),
    .project2 .projectdescripion2 p:nth-child(2) {
        font-family: "Book Antiqua";
        color: rgb(32, 32, 32);
        font-size: 0.7rem;
        font-weight: 200;
        margin-top: -1rem;
        padding-left: -2rem;
        padding-bottom: 0.5rem;
        border-bottom: 1px solid #D9D9D9;
    }

    .project1 .projectdescripion1 p:nth-child(3),
    .project2 .projectdescripion2 p:nth-child(3) {
        font-family: "Book Antiqua";
        color: rgb(32, 32, 32);
        font-size: 0.7rem;
        font-weight: 200;
        padding-left: -2rem;
        margin-top: -0.5rem;
    }

    .project1 .projecticon1 img,
    .project2 .projecticon2 img {
        width: 1.6rem;
        transform: translateX(0.8rem);
    }

    .project1 .projecticon1 button,
    .project2 .projecticon2 button {
        font-size: 0.8rem;
        font-family: "Champagne & Limousines";
        border: none;
        border-radius: 0.5rem;
        box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
        width: 5rem;
        transform: translateX(4.5rem);
    }

    .casecards {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: baseline;
    }

    .case1,
    .case2 {
        width: 100%;
    }

    .casephoto1,
    .casephoto2 {
        width: 14rem;
    }

    .containerbackground {
        padding-top: -1rem;
    }

    .preeducate {
        margin-bottom: -2.5rem;
    }

    .timeaxe {
        display: block;
        margin: 0.5rem;
        transform: translateY(5rem);
    }

    .timeaxe img {
        width: 100%;
    }

    .cards {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        text-align: center;
    }

    .time1,
    .time2,
    .time3 {
        transform: translateY(-1.5rem);
    }

    .card1,
    .card2,
    .card3 {
        padding: 0.5rem;
        padding-top: 2rem;
        /* transform: translateY(1rem); */
    }

    .college1,
    .college2,
    .college3 {
        transform: translateY(1rem);
    }


    .emblem1,
    .emblem2 {
        padding: 0.5rem;
    }

    .emblem3 {
        padding: 0.5rem;
    }

    .emblem1 img,
    .emblem2 img,
    .emblem3 img {
        width: 3rem;
    }


    .collegedescription1 {
        background-image: none;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: absolute;
    }

    .campus1 img,
    .campus2 img,
    .campus3 img {
        display: inline-block;
        width: 100%;
    }

    .university1 {
        position: relative;
        background-color: rgba(255, 255, 255, 1);
        padding-top: 0.15rem;
        padding-bottom: 0.15rem;
        margin-top: -1rem;
    }

    .collegedescription2 {
        background-image: none;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: absolute;
    }

    .university2 {
        position: relative;
        background-color: rgba(255, 255, 255, 1);
        padding-top: 0.1rem;
        padding-bottom: 0.1rem;
        transform: translateY(0.01rem);
    }

    .collegedescription3 {
        background-image: none;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: absolute;
    }

    .university3 {
        position: relative;
        background-color: rgba(255, 255, 255, 1);
        padding-top: 0.8rem;
        padding-bottom: 0.8rem;
    }

    /* Work experience */

    .prework {
        margin-bottom: -4rem;
    }

    .workcards .workcard1,
    .workcards .workcard2 {
        display: flex;
        flex-direction: column;
        background-color: #F2F2F2;
        margin-top: 1rem;
        padding-top: 2rem;
    }

    .workcard1 .worktime1 p:nth-child(3),
    .workcard2 .worktime2 p:nth-child(3) {
        margin-left: 0.8rem;
        font-family: "Book Antiqua";
        font-weight: 200;
        font-size: small;
        margin-top: -1rem;
        display: block;
    }

    .workcard1 .industry1 p:nth-child(2),
    .workcard2 .industry2 p:nth-child(2) {
        display: none;
    }

    .timeaxe2 {
        display: block;
        transform: translateY(7rem);
    }

    .timeaxe2 img {
        width: 100%;
        padding: 0.5rem;
    }

    .workcards {
        display: grid;
        grid-template-columns: 1fr 1fr;
        text-align: center;
        gap: -2rem;
    }

    .company1 .kongzhong {
        margin: -1.5rem;
        padding: -2rem;
        transform: translateY(1rem);
    }

    .company1 .kongzhong img {
        margin: -1rem;
        padding: 0.1rem;
        width: 7rem;
    }

    .company2 .cetc {
        margin: -1.5rem;
        padding: -2rem;
        transform: translateY(1rem);
    }

    .company2 .cetc img {
        width: 6rem;
        margin: -1rem;
        padding: 0.1rem;
    }

    .worktime1,
    .worktime2 {
        margin-top: 0.5rem;
        margin-bottom: -0.5rem;
        transform: translateY(-2rem);
    }

    .company1,
    .company2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 11rem;
        height: 5rem;
        margin: 0 auto;
        transform: translateY(-0.5rem);
    }

    .company1 p,
    .company2 p {
        transform: translateY(2rem);
    }

    /* personality */

    .containercharts .row {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .containerskill .row {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .tool div img {
        width: 15%;
    }



}